@charset "UTF-8";
*{margin:0; padding:0};
#gallery_wrap{width:100%; position:relative;}

#main_container{width: 70%; position: absolute; top: 10%; left:10%; display:inline-block;}
.menu_nav{width: 100%;}
.content_container{ width:350px; height:500px; display: inline-block; border: 1px solid lightGray; border-radius: 10px; padding: 10px 20px 10px 20px; margin-bottom:10px;}
.content_img{width: 300px; height: 300px; border-bottom: 1px solid lightgray; position:relative;}
.btn_like{position: absolute; bottom: 10px; width: 60px; left: 90%;}
#content_list{border:1px solid lightgray; width: 80%; display: inline-block;}
.title, .hashtag{border-bottom: 1px solid lightgray; padding:10px 0 10px 0}
.fn_main{display:flex; justify-content:space-between; width:92%}
.btn_write{width:60px; margin-bottom:10px}
#rank_container{margin-top:80px; width:650px; height:fit-content; border:1px solid black; display:flex;}
.rank_li:hover{font-size:15px; font-weight:bolder;}
.move_fileBoard,.move_likeBoard{text-decoration:none; color:black;}
.move_fileBoard:hover{color:blue}
.move_likeBoard:hover{color:blue}
.move_hashTag{text-decoration:none; color:black;}
.move_hashTag:hover{background-color:skyblue; color:white; font-size:15px;}
.span_tagVal{ font-size:18px;}
#show_hashTag{display:flex}
#login_menu>a{width:100px}
#content_wrap{display:inline-block; width:fit-content}